{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='home-bg.jpg') }} ' )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Music Blog</h1>
            <span class="subheading">Thoughts about (mostly) music, by a person.</span>
          </div>
        </div>
      </div>
    </div>
  </header> 

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="blogpost-preview">
          <a href="{{ url_for('post', post_id=post.id) }}">
            <h2 class="blogpost-title">
              {{ post.title }}
            </h2>
            <h4 class="post-subtitle">
              {{ post.subtitle }}
            </h4>
          </a>
          {{post.content | safe}}
          <p class="blogpost-author-date">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        </div>
        {% endfor %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right older-posts-button" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}