{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='reviewbackground3.jpeg') }} ' )">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Reviews</h1>
          <span class="subheading">My thoughts on albums, mixtapes, EP's and more!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts.items %}
      <div class="review-preview">
        <a href="{{ url_for('review', review_id=post.id) }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <img src="/static/images/{{ post.art_filename }}" width="250" height="250" />
          <h3 class="post-subtitle blogpost-subtitle">
            {{ post.subtitle }}
          </h3>
          <h3 class="post-subtitle">
              Score: {{ post.score }}/10
            </h3>
        </a>
        <p class="blogpost-genres">Genres: {{ post.genres }}</p>
        <p class="blogpost-author-date">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
      </div>
      {% endfor %}
      <hr>
<!-- <div class="pager">
{% for page in posts.iter_pages(left_edge=1, right_edge =1, left_current=2, right_current=3) %}

{% if page %}

{% if page == current_page %}
<a class="btn btn-primary older-posts-button" href="{{ url_for('musicreviews', page=page) }}"><u>{{ page }}</u></a>
{% else %}

<a class="btn btn-primary older-posts-button" href="{{ url_for('musicreviews', page=page) }}">{{ page }}</a>
{% endif %}
{% else  %}
  ...
{% endif %}

{% endfor %}
</div> -->

<div class="pager">
<a class="btn btn-primary page-button" href="{{ url_for('musicreviews', page=1) }}" style="border-radius: 10px;">Newest</a>
{% if posts.has_prev %}
  <a class="btn btn-primary page-button" href="{{ url_for('musicreviews', page=posts.prev_num) }}" style="border-radius: 10px; padding-left: 20px; margin-right: 60px;">Previous</a>
{% else %}
  <a class="btn btn-primary page-button" href="{{ url_for('musicreviews', page=posts.page) }}" style="border-radius: 10px; padding-left: 20px; margin-right: 60px;">Previous</a>
{% endif %}
page {{ current_page }} of {{posts.pages}}
<a class="btn btn-primary page-button float-right" href="{{ url_for('musicreviews', page=posts.pages) }}" style="border-radius: 10px;">Oldest</a>

{% if posts.has_next %}
  <a class="btn btn-primary page-button float-right" href="{{ url_for('musicreviews', page=posts.next_num) }}" style="border-radius: 10px; margin-right: 5px;">Next</a>
  {% else %}
  <a class="btn btn-primary page-button float-right" href="{{ url_for('musicreviews', page=posts.page) }}" style="border-radius: 10px; margin-right: 5px;">Next</a>
  {% endif %}
</div>

    </div>
  </div>
</div>
{% endblock %}