{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='home-bg.jpg') }} ' )">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Reviews</h1>
          <span class="subheading">My thoughts on albums, mixtapes, EP's and more!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for review in reviews %}
      <div class="review-preview">
        <a href="{{ url_for('review', review_id=review.id) }}">
          <h2 class="post-title">
            {{ review.title }}
          </h2>
          {% set name = 'images/' + review.art_filename|string %}
          <img src="static/images/{{ review.art_filename }}" width="250" height="250" />
          <h3 class="post-subtitle">
            {{ review.subtitle }}
          </h3>
          <h3 class="post-subtitle">
              {{ review.score }}/10
            </h3>
        </a>
        <p class="blogpost-author-date">Posted by {{ review.author }} on {{ review.date_posted.strftime('%B %d, %Y') }}</p>
      </div>
      {% endfor %}
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right older-posts-button" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}