.blogpost-preview{
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    word-wrap: break-word;
}

.review-preview{
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    word-wrap: break-word;
}

.blog-background{
    background-color: RGBA(200, 214, 185, 1);
}

.review-background{
    background-color: white;
}

.footer-background{
    background-color: black;
}

.archive-table{
    background-color: white;
    border-radius: 10px;
}

.site-footer{
    color: white;
    background-color: black;
}

.blogpost-subtitle{
    margin-top: 10px;
}

.blogpost-author-date{
    margin: 0;
    font-style: italic;
}

.blogpost-genres{
    margin: 0;
    margin-top: 20px;
    font-style: italic;
}

.text-white{
    color: white;
}

.text-center{
    text-align: center;
}

.pager{
    margin: 0 auto;
    margin-bottom: 17px;
}

.review-bottom{
    margin-bottom:17px;
}

.review-genres{
    margin-bottom: 5px;
}

.page-button{
    width: 120px;
}

.btn-older{
    position: relative;
    top: 28px;
}

.btn-newer{
    position: relative;
    top: -25px;
}

@media only screen and (max-width: 1230px) and (min-width: 401px) {
    .page-button{
        width: 90px;
    }
}

@media only screen and (max-width: 400px) and (min-width: 1px) {
    .page-button{
        width: 10px;
        font-size: xx-small;
    }
  }
